body {
    display: block;
}

.textcenter {
    padding-bottom: 35px;
    text-align: center;
}

.log {
    margin: 15px;
    float: left;
}

header {
    color: rgb(126, 127, 127);
    border-bottom: 2px solid black;
}

.bordblue {
    float: left;
    text-align: center;
    border: 3px solid rgb(144, 218, 255);
    margin: 3px;
}

.wone {
    width: 100;
    margin-top: 30px;
}

.step {
    margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
    height: 60px;
}

.heightstep {
    height: 550px;
    padding: 3em 0;
    text-align: center;
}

.sizebtn {
    text-align: center;
    width: 70%;
    background-color:rgb(0,181,255);
    color:white;
}

hr {
    color: rgb(239, 247, 250);
}

.pole {
    background-color: rgb(242, 246, 248);
    padding-top:30px;
}

.hexagon {
    position: relative;
    width: 90px;
    height: 51.96px;
    background-color: #ffffff;
    margin: 25.98px 0;
    border-left: solid 5px #ebebeb;
    border-right: solid 5px #ebebeb;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 63.64px;
    height: 63.64px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 8.1802px;
}

.hexagon:before {
    top: -31.8198px;
    border-top: solid 7.0711px #ebebeb;
    border-right: solid 7.0711px #ebebeb;
}

.hexagon:after {
    bottom: -31.8198px;
    border-bottom: solid 7.0711px #ebebeb;
    border-left: solid 7.0711px #ebebeb;
}


.blocktext{
    width: 25%;
    height:200px;
    padding: 2%;
    margin:4%;
    border:1px solid grey;
    float:left;
    
}

#downloadid{
    width: 250px;
    height: 100px;
    text-align: center;
}

.hexagon img{
    border-radius:40%;
}

.mybtnford{
    background-color:white;
    color:rgb(164,224,255);
    font-size:25px;
    border:2px solid rgb(164,224,255);
}

.col-md-4 .textcenter{
    border:1px solid grey;
}

ul li{
     display: inline-block;
}

footer{
    background-color:rgb(242,250,253);
}